spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/book_social_network
    username: postgres
    password: Kavindu12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: localhost
    port: 1025
    username: ali
    password: ali
    properties:
      mail:
        smtp:
          trust: "*"
        auth: true
        starttls:
          enabled: true
        connectiontimeout: 5000
        timeout: 3000
        writetimeout: 5000


application:
  security:
    jwt:
      secret-key: fRkMcZ5wgAQlQYQmrP1Nl+NsMfXPlCBsKgRswaOtQdY=
      expiration: 3600000
  mailing:
    frontend:
      activation-url: http//localhost:4200/activate-account

  file:
    upload:
      photos-output-path: ./uploads



server:
  port: 8088